          * {
                box-sizing: border-box;
            }
            h4{
                font-size: 1.25rem;
                line-height: 1.42857;

            }
           .btn {
                    -moz-user-select: none;
                    background-image: none;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.42857;
                    margin-bottom: 0;
                    /*padding: 8px 12px;*/
                    padding: 10px 14px;
                    text-align: center;
                    vertical-align: middle;
                    white-space: nowrap;
                }
                #messages{
                    color: #449D44;
                    background-color: #011917;
                    padding:8px;
                }
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 1.42857;
    padding: 8px 14px;
    /*padding: 6px 12px;*/
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.btn-success{
 
     border: 2px solid rgba(1, 37, 34);

}
            .btn-primary {
            background-color: #e86a0f;
            border-color: #e86a0f;
            color: #fff;
            font-weight: 600;
            padding: 10px 14px;
            /*animation: bounce 1s infinite alternate;
           -webkit-animation: bounce 1s infinite alternate;*/
                }
               /* @keyframes bounce {
                  from {
                    transform: translateY(0px);
                  }
                  to {
                    transform: translateY(-15px);
                  }
                }
                @-webkit-keyframes bounce {
                  from {
                    transform: translateY(0px);
                  }
                  to {
                    transform: translateY(-15px);
                  }
                }*/
 .btn-primary:hover {
            background-color: #e57829;
            border-color: #da6e20;
            color: #fff;
            padding: 10px 14px;
        }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background-color: #bc6221;
    border-color: #bc6221;
    color: #fff;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #bc6221;
    border-color: #bc6221;
    color: #fff;
}
 .btn-info {
            background-color:#e0b92f;
            border-color:#e0b92f;
            color: #3b300b;
            font-weight: 600;
                }            

.btn-info:hover {
            background-color:#c8a837;
            border-color:#c8a837;
            color:#3b300b;
                }
.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
    background-color: #a4955f;
    border-color: #a4955f;
    color:#3b300b;
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info.focus:active, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
    background-color: #a4955f;
    border-color: #a4955f;
    color:#3b300b;
}                
/* WIDGET */
.wdgt-row,.prd-img {
    position:relative;
}
.wdgt-row img {
    width:100%;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
}

/* Padding top */
.pad-top{
    padding-top: 40px;
}

.pad-top-btn{
    padding-top: 50px;
}
                .panel{
                     color: #f7f4f2;
                     background-color: rgba(9, 183, 168, 0.2);
                     /*background-color: rgba(3, 59, 55, 0.2);*/
                }
                .panel-body {
                padding: 15px;
                }
.panel-heading {
    border-color: #eff2f7;
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
    text-transform: uppercase;
}

               .body-bg {
               
               /*  background-color: #000;*/
               background:#000 url("../assets/images/2.jpg") no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                font-family:'Open Sans',sans-serif;
                padding:0px !important;
                margin:0px !important;
                font-size:13px;
                text-rendering:optimizeLegibility;
            }
          
            *::-moz-selection {
            background: none repeat scroll 0 0;
            color: #fff;
            }
            #main-content {
            /*margin-left:240px;*/
            -webkit-transition:all .3s ease-in-out;
            -moz-transition:all .3s ease-in-out;
            -o-transition:all .3s ease-in-out;
            transition:all .3s ease-in-out;
            }
            .container {
            width:100%;
            height:100%;
            -webkit-transition:all .3s ease-in-out;
            -moz-transition:all .3s ease-in-out;
            -o-transition:all .3s ease-in-out;
            transition: all .3s ease-in-out;
            }
            .wrapper {
              
                display: inline-block;
                margin-top: 10px;
                padding: 15px;
                width: 100%;
            }
            .hd-title {
            font-size: 16px;
            margin: 10px 0;
            }
            .alt.gray-bg {
            background:#474751;
            }
         